<%- include('partials/header') %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>NAI Propertree</h1>
        <br>
        <p>로그인 혹은 회원가입:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> 로그인</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> 회원가입</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> 페이스북 로그인</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> 트위터 로그인</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> 구글+ 로그인</a>
    </div>
</div>

<%- include('partials/footer') %>
