<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">동료가 되어라! <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name="addForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="username">아이디 <span class="badge">필수</span></label>
                    <input type="text" class="form-control" id="username" placeholder="아이디"
                           ng-model="formData.username" required>
                </div>
                <label class="radio control-label">성별</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                        남
                    </label>
                </div>
                <div class="radio" required>
                    <label>
                        <input type="radio" name="optionsRadios" id="radiofemale" value="Female"
                               ng-model="formData.gender">
                        여
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radioother" value="Not to say"
                               ng-model="formData.gender">
                        공개하지 않겠습니다
                    </label>
                </div>
                <div class="form-group">
                    <label for="age">나이</label>
                    <input type="number" class="form-control" id="age" placeholder="72" ng-model="formData.age"
                           required>
                </div>
                <div class="form-group">
                    <label for="language">언어</label>
                    <input type="text" class="form-control" id="language" placeholder="Fortran"
                           ng-model="formData.favlang" required>
                </div>
                <div class="form-group">
                    <label for="latitude">위도</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">경도</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude"
                           readonly>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">HTML5 인증된 장소인가요?
                        <span>
                            <button ng-click="refreshLoc()"
                                    class="btn btn-default btn-xs"><span
                                    class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </span>
                    </label>
                    <input type="text" class="form-control" id="verified" placeholder="아니요"
                           ng-model="formData.htmlverified" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()"
                        ng-disabled="addForm.$invalid">제출하기
                </button>
            </form>
        </div>
    </div>
</div>